body {
    font-family: "Poppins", sans-serif;
}

.footer_link:hover {
    background-color: #1096d4 !important;
}

.footer_links a:hover {
    color: #1096d4 !important;
    transition: 0.3s ease-in-out;
}

.footer_link:hover a i {
    color: #ffffff !important;

}